.header-item {
    padding: 0px;
}
.custom-icon-header {
    padding: 5px 0px 0px;
}
.input-sm{
    background-color: #0d2237;
    border: 1px solid #0e2a42;
}
#icon-header {
    width: 75%;
    height: 75%;
}
.custom-btn-search {
    background-color: #ffffff;
}
.custom-btn-search >  form {
    width: 100%;
    background-color: #ffffff;
}
.custom-btn-search .glyphicon {
    color: #28adeb;
}
.custom-btn-header {
    padding-top: 0.1%;
    color: #28adeb;
}
.custom-btn-header li a:focus {
    background-color: #0d1f31;
    color: #2cbcfc;
}
.custom-btn-header > li > a > span {
    padding-left: 3px;
}
.custom-btn-header > li > a:hover , a:active , a:focus {
    background-color: #0d1f31;
    color: #2cbcfc;
}
.custom-btn-header-right {
    padding-top: 1.2%;
    color: #0d2237;
    margin-left: 10px;
}
.custom-btn-header-right > button{
    background-color: #0d2237;
    color: #2cbcfc;
    margin-right: 10px;
    border: none;
}
.custom-btn-header-right button i {
    margin-right: 5px;
}
.custom-navbar-top {
    margin: 5px;
    border: 0px;
}
.dropdown-menu-header {
    background-color: #0f2236;
}
.dropdown-menu-header {
    min-width: 200px;
    background-color: #0f2236;
    color: #066696;
}
.dropdown-menu-header.columns-2 {
    min-width: 400px;
}
.dropdown-menu-header.columns-3 {
    min-width: 600px;
}
.dropdown-menu-header li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #066696;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    background-color: #0f2236;
    color: #00a9f4;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #0d1f31;
    color: #2cbcfc;
}
.input-group{
    border-radius: 5px;
    color: #00a9f4;
}
.form-control-feedback {
    top: 5px;
    right: 15px;
}
.input-group > span{
    border-radius: 5px;
}
.form-group > input::placeholder{
    color: #046390;
}
.input-group {
    width: 250px;
}
.form-control .input-sm{
    background-color: #0d2237;
    border: 1px solid #0e2a42;
}
.form-group {
    padding-top: 5px;
}
/**
    Css login form
*/
.lg-title {
    text-align: center;
    color: #333;
}
.btn-facebook {background: #3b5998;}
.btn-twitter {background: #00aced;}
.btn-google {background: #c32f10;}
.socialButtons a {
    color: white;
    opacity: 0.9;
}
.row .loginOr {
    margin: 10px;
    text-align: center;
}
.loginForm .input-group {
    margin-bottom: 15px;
}
.loginForm .input-group {
   width: 100%;
}
.glyphicon-remove {
    padding-top: 10px;
}
.btn-login {
    margin-bottom: 5px;
}
.remember-me p {
    color: #333;
    font-weight: normal;
}
.register-text {
     color: #333;
}
.btn-facebook:hover {
    color: #fff;
    background-color:#172d5e;
}
.btn-twitter:hover {
    color: #fff;
    background-color:#043d52;
}
.btn-google:hover {
    color: #fff;
    background-color:#6b1301;
}
/** Css Register */
.registerForm .input-group {
    margin-bottom: 15px;
}
.registerForm .input-group {
    width: 100%;
}
 /** Css khi user da dang nhap */

.btn-group{
    position: relative;
    margin-right: 10px;
}
.btn-group > button{
    background-color: #0d2237;
    color: #2cbcfc;
    border: none;
}
.user-dropdown{
    width: 215px;
    position: absolute;
    top:30px;
    background-image: url(../../images/background-header.png);
}
.price-dropdown-user{
    float:right;
    color: white;
    font-size: 15px;
}
.image-user {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    background-image: url(https://vignette.wikia.nocookie.net/inazuma-eleven/images/8/8c/Saruyuu.png/revision/latest?cb=20130829025426&path-prefix=vi);
    margin-bottom: 10px;
}
.image-user span{
    position: absolute;
    right: -90px;
    top: 15px;
}
.list-item{
    border-bottom: 1px solid blue;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}
.dropdown-popup{
    display: none;
    top:-7px;
    left: 190px;
    position: absolute;
    z-index: 99999;
    background-color: #0d2237;
    color: #2cbcfc;
    text-align: center;
}
#history1:hover .dropdown-popup{
    display:inline-block;
}
.caret-right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    float: right;
    margin-top: 8px;
}
.fixed-notifi{
        position: relative;
        }
        .notification{
        position: absolute;
        width: 20px;
        height: 20px;
        right: -20px;
        top:-35px;
        background-color: red;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        text-align: center;
        padding: 0px 5px;
        }