.custom-page-content {
    padding-left: 50px;
    padding-right: 50px;
}
.main-content{
    margin: 0px;
}
.order-button{
 border: none;
 float: right;
 margin: 15px;
}
.order-button   .btn {
    float: left;
    background-color: #123d5a;
    border-radius: 0px;
    border: 1px solid #175a80;
    color: #fff;
}
.order-button .btn-secondary {
    background-color: #0d2237;
}
.custom-select {
    height: 34px;
    background-color: #0d2237;
    border: 1px solid #175a80;
    color: #fff;
}
.order-button a {
    color: #2cbcfc;
}
.custom-btn-content{
    background-image: url("../../images/background-header.png");
    width: 100%;
    height: 70px;
}
.custom-btn-content a:first-child{
    padding-top: 2%;
}
.info-game ul {
    padding-left: 0px;
}

.topnav-home a {
    height: 100%;
  float: left;
  display: block;
  color: #36c1ff;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #07101a;
  border-bottom: 5px solid;
}


.topnav .icon {
  display: none;
}

.thumbnail
{
    border: none;
    padding: 0px;
    position: relative;
    margin: 10px;
}
.row{
    margin: 0;
}
.item{
    padding:0;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;

}
.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

.info-game {
    position: absolute;
    bottom: 0;
    left: 0;
}
.info-game ul{
     list-style-type: none;
}
.info-game ul li{
    padding-left: 20px;
    font-size: medium;
    font-weight: bold;
}
.name-game{
    color: #ffffff;
}
.text-price-old{
    color : #ff8800;
    text-decoration:line-through;
}
.text-price-now{
    color :#ff8800;
}
.user-action{
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
}
.user-action ul{
    margin-right: 5px   ;
}
.user-action li{
    display: inline-block;
    padding-left: 10px;

}
.user-action li span {
    color: #ff3d00;
}

.pagination > .active > a{
    background-color: #00b1ff;
    border-color: #00b1ff;
}
.pagination li a {
    background-color: #0a5c81;
    color: #fff;
    border: none;
}


.pagination a:hover:not(.active) {
    background-color: #00b1ff;
    color: #fff;
}

.title-game{
    margin: 15px;
}
.content-game{
    margin: 15px;
}
.btn-add {
    background-color: rgba(0,117,255,0.3);
    font-size: medium;
}
.btn-add:hover {
    background-color: #00b1ff;
}
.topnav-top {
    height: 57px;
}
.topnav-top a {
    width: 100%;
    height: 100%;
}