.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.main-content{
    margin: 0px;
}
.wrapper-order{
    display: block;
}
.order-button{
 float: right;
 margin: 15px;
}
.topnav-home {
  overflow: hidden;
  background-image: url("../../images/background-header.png");

}
.info-game ul {
    padding-left: 0px;
}

.topnav-home a {
  float: left;
  display: block;
  color: #36c1ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #07101a;
  border-bottom: 5px solid;
}


.topnav .icon {
  display: none;
}

.thumbnail
{
    border: none;
    padding: 0px;
    position: relative;
    margin: 10px;
}
.row{
    margin: 0;
}
.item{
    padding:0;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;

}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

.info-game {
    position: absolute;
    bottom: 0;
    left: 0;
}
.info-game ul{
     list-style-type: none;
}
.info-game ul li{
    padding-bottom: 10px;
    padding-left: 20px;
}
.name-game{
    color: white;
}
.text-price-old{
    color :yellow;
    text-decoration:line-through;
}
.text-price-now{
    color :yellow;
}
.user-action{
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
}
.user-action ul{
    margin-right: 5px   ;
}
.user-action li{
    display: inline-block;
    padding-left: 10px;

}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: blue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.title-game{
    margin: 15px;
}
.content-game{
    margin: 15px;
}
.btn-add {
    background-color: rgba(0,117,255,0.3);
}
.btn-add:hover {
    background-color: #00b1ff;
}